// SIZES
$content_width: 1140px;
$content_width_wide: 1340px;
$content_width_mobile: 514px;

$event_slide_width: 314px;
$event_slide_width_mobile: 498px;

// FONTS
$main_font: 'Open Sans', sans-serif;
$body_font_size: 17px;
$body_font_lineheight: 1.588; // 27px

// COLOR PALETTE

$white: #fff;
$ltGray: #f7fafc;
$gray: #414c59;
$mdGray: #7d848d;
$dkGray: #3c444f;
$black: #000;

$orange: #ff871a;

$ltBlue: #79acdc;
$mdBlue: #4c7bd0;
$dkBlue: #3959cb;


// Color Roles
$bodyTextGray: $mdGray;
$headingTextGray: $dkGray;
$linkBlue: $mdBlue;
$formLines: $mdGray;
$sectionBG-default: $ltGray;

// Font weights
$light: 300;
$normal: 400;
$semiBold: 500;
$bold: 700;

//footer
$footer_heading: $mdGray;
$footer_heading_size: 14px;
$footer_link: $white;
$footer_link_size: 14px;
$footer_copyright_size: 13px;
$footer_copyright_color: $white;

// GRID BREAKPOINTS -----------------------------------------------
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
        xs: 0,
        sm: #{630px / 16px}em,
        md: #{786px / 16px}em,
        lg: #{1024px / 16px}em,
        xl: #{$site-max-width / 16px}em,
) !default;
