// TIMING SETTINGS
$time1: 0ms;
$time2: 300ms;
$time3: 800ms;
$time4: 1200ms;

// EASING SETTINGS
$easing: ease-out;

// Simple fade-in animation
@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include keyframes(fadeInOut) {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@include keyframes(fadeInOut30) {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}

@include keyframes(fadeInOut10) {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}

@include keyframes(fadeOut) {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
