/*
 * Sections
 *
 * Sections are usually seen as rows of content on a page, and contain one or more blocks.
 */

.section {

  padding: 50px 0;

  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;


}