body {
  background-color: $white;
  font-family: $main_font;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

*:focus {
  outline: none !important;
}

// sitewidth setting
.container {
  width: 100%;
  max-width: $content_width;
  margin-left: auto;
  margin-right: auto;

  @include for(1225px) {
    padding-left: 30px;
  }

  @include breakpoint(lg) {
    width: calc(100% - 30px);
    padding-left: 30px;
    padding-right: 15px;
  }

  @include breakpoint(sm) {
    max-width: $content_width_mobile;
    padding-left: 20px;
    padding-right: 20px;
  }

  &.container-wide {
    max-width: $content_width_wide;

    @include for(1340px) {
      max-width: $content_width;
    }

    @include for(sm) {
      max-width: $content_width_mobile;
    }

  }
}

.desktop-only {
  // visible
}

.mobile-only {
  display: none;
}

@include breakpoint(sm) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: block;
  }
}

.show-xl {
  display: block !important;
}

.hide-xl {
  display: none !important;
}

@include between(md, lg) {
  .show-lg {
    display: block !important;
  }
  .hide-lg {
    display: none !important;
  }
}

@include between(sm, md) {
  .show-md {
    display: block !important;
  }
  .hide-md {
    display: none !important;
  }
}

@include between(xs, sm) {
  .show-sm {
    display: block !important;
  }
  .hide-sm {
    display: none !important;
  }
}

@include between(xxs, xs) {
  .show-xs {
    display: block !important;
  }
  .hide-xs {
    display: none !important;
  }
}

@include between(0, xxs) {
  .show-xxs {
    display: block !important;
  }
  .hide-xxs {
    display: none !important;
  }
}


p {
  font-size: 15px;
  line-height: 1.65em;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {

  &, &.full {
    width: 100%;
    height: auto;
  }

  border: 0;

  &:hover {
    border: 0 !important;
  }
}

.video-wrapper {

  display: none; // only show (background) video on desktop

  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 2;

  @media screen and (min-width: map-get($grid-breakpoints, sm)) {
    display: block;
  }

  video {

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 100%;

    @include transform(translate(-50%, -50%));

  }
}

.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;

  &.overlay--dark{
    background-color: rgba($black, 0.25);
  }

  &.overlay--light{
    background-color: rgba($white, 0.5);
  }

  @include breakpoint(sm){
    display: none;
  }
}

h1 {
  color: $white;
  font-family: $main_font;
}

h2 {
  color: $gray;
  font-size: 26px;
  font-weight: 600;
  margin: 0 inherit;

  &.underline {
    &:after {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      margin: 20px 0;
    }
  }
}

h3 {
  font-size: 34px;
  line-height: 42px;
}

.p20 p {
  font-size: 20px !important;
  line-height: 30px !important;
  font-weight: 300;
}

.prow {
  padding: 100px 0 60px 0;
}

.thin {
  font-weight: 300;
}

.container_fluid {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.pull-left{
  margin-right: auto;
  margin-left: 0;
}

.pull-right{
  margin-right: 0;
  margin-left: auto;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.position-left {
  float: left;
}

.position-right {
  float: right;
}

.position-center {
  margin-left: auto;
  margin-right: auto;
}

.bg_gray {
  background-color: $gray;
  color: $white;

  h2 {
    font-size: 34px;
    line-height: 42px;
    font-weight: 200;
    margin-bottom: 44px;
    color: $white;
  }

  h3 {
    margin-bottom: 33px;
    font-size: 34px;
    font-weight: 300;
  }

  h4 {
    font-size: 34px;
    font-weight: 300;
    color: $dkGray2;
  }

  p {
    /*font-size:17px;*/
    font-weight: 300;
  }
}

.nowrap {
  white-space: nowrap;
}

.tagline,
.tagline p{
  @extend ._tagline;
}


.lity-container {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#support-form-contents {
  background: #fff;
  padding: 20px 40px;
  width: calc(100% - 30px);
  min-width: 600px;
  max-width: 600px;
}

blockquote {
  font-family: $main_font;
  font-weight: 200;
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  margin: 30px 0px;
  padding-left: 30px;
  border-left: 3px solid $fuelXOrange;
}

.small,
p.small,
.section .body-text p.small{
  font-size: 12px;
  line-height: normal;
}

#hero .container {
  min-height: 700px;
}

.square {
  width: 100%;

  &:after {
    content: "";
    display: block;
    padding-bottom: 90%;
  }
}

img.how-graphic {
  width: 100%;
  max-width: 516px;
  height: auto;
}


img.performance-graphic {
  width: 100%;
  max-width: 393px;
  height: auto;
  top: 0 !important;
  transform: translateY(0%) !important;
}

.bg_overlay {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(253, 135, 46, 0.6), rgba(127, 170, 215, 0.6));
  }
}

.button {
  @extend ._button;

  &.white {
    background-color: $white;
    color: $gray;
    border: 3px solid $fuelXOrange;
  }

  &.small {
    background-color: $gray;
    height: 35px;
    line-height: 35px;
    padding: 0 32px;
    font-size: 14px;
    font-weight: 600;
    color: $white;
    border: 2px solid $fuelXOrange;
  }

  &:hover {
    --x: 100%;
  }

  /*Gimmicks
  position: relative;
  appearance: none;
  overflow: hidden;
  span {
      position: relative;
      pointer-events: none;
  }

  &::before {
      --size: 0;
      content: '';
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: var(--size);
      height: var(--size);
      background: radial-gradient(circle closest-side, #444e54, transparent);
      transform: translate(-50%, -50%);
      transition: width .2s ease, height .2s ease;
  }
  &:hover::before {
      --size: 200px;
  }
  //END GIMMICKS*/
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .row .col-md-6 {
    flex: none !important;
    max-width: 50% !important;
  }
}

.far_right {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  width: 50%;
  max-width: 50%;
  max-height: 480px;
  z-index: 15;

  .slider_bars {
    position: absolute;
    top: -33px;
    right: 0;
  }

  &.commerce_indexing {
    .image_slider_container {
      margin-left: 20%;
    }
  }
}

.image_slider_container {
  position: relative;

  .image_slider {
    display: block;
    width: 100%;
    min-height: 500px;

    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      &.active {
        z-index: 3;
      }
    }

    &.require_click {
      img:hover {
        cursor: pointer;
      }
    }
  }
}

.bottom-image {
  display: block;
  width: 100% !important;
  margin-top: 20px;
  min-height: 220px;

  .image_slider_container {
    .image_slider {
      min-height: auto;
    }
  }
}

div.far_right_image {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
  height: 100%;
  max-width: calc(50% - 30px);
  max-height: 520px;
  text-align: center;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

div.far_left_image {
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  top: 30%;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 480px;
  text-align: center;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

img.bottom-image {
  width: 100%;
  height: auto;
}

@include breakpoint(sm) {

  .container {
    max-width: 514px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .row {
    margin-left: -20px;
    margin-right: -20px;
  }
  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-left: 20px;
    padding-right: 20px;
  }


  .far_right {
    position: relative;
    right: auto;
    transform: none;
    top: auto;
    width: 100%;
    max-width: 100%;
    height: 400px;
    margin-top: -60px;
  }
  .image_slider_container {
    .image_slider {
      min-height: inherit;
    }
  }
  div.far_right_image,
  div.far_left_image {
    display: block;
    float: none;
    position: relative;
    transform: none;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-height: 260px;
    background-position: center top;
    margin-top: -70px;
    margin-bottom: 40px;
  }

}

.slider_bars {
  width: 102px;

  .bar {
    padding: 8px 0;

    .bar_line {
      -webkit-transition: background 150ms ease-out;
      -moz-transition: background 150ms ease-out;
      -o-transition: background 150ms ease-out;
      transition: background 150ms ease-out;
    }

    .bar_line.white {
      background: $white;
    }

    .bar_line.gray {
      background: $ltGray;
    }

    &.bar_white {
      .bar_line {
        @include slider_bar;
      }

      .bar_number {
        @include slider_bar_number;
        color: $white;
      }
    }

    &.bar_gray {
      .bar_line {
        @include slider_bar;
        background: $ltGray;
      }

      .bar_number {
        @include slider_bar_number;
        color: $footer_heading;
      }
    }

    &:hover {
      cursor: pointer;

      .bar_line.white {
        background: rgba(255, 255, 255, 0.5);
      }

      .bar_line.gray {
        background: $gray;
      }

      .bar_number {
        color: rgba(255, 255, 255, 0.5);
      }

      .bar_number.gray {
        color: $gray;
      }
    }

    .bar_percentage {
      @include slider_bar;
    }

    .bar_line.progress {
      background: $teal;
      border-radius: 0px;
      width: 0%;
    }
  }
}


.bg_gray {
  .row_counter, .left_content {
    color: $white !important;
  }
}

.icons {
  padding-bottom: 20px !important;

  .fa {
    margin-right: 0.6em;
    font-size: 18px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    border: 1px solid $footer_heading;
    border-radius: 50%;
    padding: 0;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      border: 1px solid $fuelXOrange;
    }

  }
}


/** FORM LABEL PLACEHOLDER */
.form-group {
  border-bottom: 0;
  position: relative;
  margin-bottom: 15px;

  &:after {
    content: '';
    position: absolute;
    height: 2px;
    background: #fff;
    width: 0px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -2px;
    opacity: 0;
    transition: 0.3s;
  }

  .form-control {
    height: 35px;
    position: relative;
    z-index: 2;
    padding: 5px;
    background: none;
    color: $gray;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
    font-size: 20px;
    height: 35px;
    position: relative;
    z-index: 2;

    &:focus, &:active {
      box-shadow: none;
      outline: none;
    }
  }

  .form-label {
    font-weight: 300;
    color: $gray;
    font-size: 14px;
    min-height: 17px;
    text-align: left;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 0;
    transition: 0.3s;
    z-index: 1;
  }

  &.focus {
    .form-label {
      top: -12px !important;
      font-size: 10px !important;
      color: #000 !important;
    }
  }

  &.filled {
    .form-label {
      top: -12px !important;
      font-size: 10px !important;
      color: #000 !important;

    }
  }
}
