/*
 * Mixin Tunctions
 *
 * These mixins tend to actually add some new functionality.
 */


// BEM -----------------------------------------------------------------------------
/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}



//
// Media Queries -----------------------------------------------------------------------
//    Use example:
//    @include for(md) {
//      max-width: 900px;
//    }
//
//  We're doing desktop first, so queries are for given size and smaller

@mixin for($media) {

  @if $media == sm or $media == md or $media == lg  or $media == xl {
    $media: map-get($grid-breakpoints, $media);
  }

  @media (max-width: $media) {
    @content;
  }

}

@mixin between($smallest, $largest) {

  $smallest: if(map-has-key($grid-breakpoints, $smallest), map-get($grid-breakpoints, $smallest), $smallest);
  $largest: if(map-has-key($grid-breakpoints, $largest), map-get($grid-breakpoints, $largest), $largest);

  @media (min-width: $smallest) and (max-width: $largest) {
    @content;
  }

}

@mixin print() {
  @media print {
    @content;
  }
}
